.container {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(12, 1fr);
}
* {
  margin: 0;
  color: white;
  font-size: 3vh;
}

.container > div:nth-child(1) {
  background-color: rgb(146, 8, 8);
  grid-column: 1 / 4;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container > div:nth-child(2) {
  background-color: red;
  grid-column: 4 / 7;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container > div:nth-child(3) {
  background-color: rgb(87, 78, 78);
  grid-column: 7 / 11;
  grid-row: 1 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > div:nth-child(4) {
  background-color: blue;
  grid-column: 11 / 13;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container > div:nth-child(6) {
  background-color: rgb(255, 0, 149);
  grid-column: 11 / 13;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container > div:nth-child(10) {
  background-color: rgb(74, 129, 86);
  grid-column: 11 / 13;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container > div:nth-child(12) {
  background-color: rgb(80, 102, 52);
  grid-column: 11 / 13;
  grid-row: 4 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > div:nth-child(5) {
  background-color: rgb(93, 93, 204);
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container > div:nth-child(7) {
  background-color: rgb(6, 6, 17);
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container > div:nth-child(8) {
  background-color: rgb(53, 40, 46);
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container > div:nth-child(9) {
  background-color: rgb(255, 94, 0);
  grid-column: 5 / 7;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container > div:nth-child(11) {
  background-color: rgb(102, 255, 0);
  grid-column: 1 / 7;
  grid-row: 4 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
